body{
    background-image: url(images/web-development1.jpg);
    font-family: 'Teko', sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    width: 1024px;
    background-color: #0108177e;
    height: 150px;
    margin: 0 auto;
}
span{
    color: tomato;
}
.logo{
    height: 100px;
    color: white;
    font-size: 50px;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 15px;
}
.nav-bar{
    background-color: rgba(198, 202, 219, 0.438);
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;

}
.nav-bar a{
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    display: inline-block;
    font-size: 20px;
}
.nav-bar a:hover{
border-bottom: 2px solid tomato;
transition: 0.5s;
}

.container{
    width: 1024px;
    height: 100%;
}
main{
    margin: 15px auto;
    width: 1024px;
    /* background-color: tomato; */
    min-height: 550px;
    display: flex;
    justify-content: space-between;
 
}
.box1{
    background-color: #0108177e;
    max-width:337px;
    height: 550px;
    
}
.box2{
    background-color: #0108177e;
    max-width:672px;
    height: 550px;
    color: white;
    font-size: 50px;
}
.myphoto{
    height: 300px;
    border: 5px solid white;
    margin: 30px 28px 10px 28px;
}
footer{
    text-align: center;
    background-color: #0108177e;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 1024px;
    margin: -5px auto 0 auto;
    color: rgb(255, 255, 255);
}
p{
    color: white;
    font-size: 35px;
    text-align: center;
}
h3{
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 18px;
}
h4{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
}
.box1-info{
    margin-top: 10px;
}
.social-media img{
    height: 30px;
    padding: 0 10px;


}
.social-media{
    text-align: center;
    padding-top: 20px ;
    color: white;
}
.about-me{
    color: white;
    text-align: center;
    padding-top: 50px;
}
.box2 p{
    padding: 80px 20px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

  }